<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Tema</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>Editar Tema</h1>
    </header>
    <section>
        <form th:action="@{/vistas/temas/editar/{id}(id=${tema.id_Tema})}" th:object="${tema}" method="post">
            <div>
                <label>ID Tema:</label>
                <input type="text" th:field="*{id_Tema}" readonly="readonly" />
            </div>
            <div>
                <label>Nombre del Tema:</label>
                <input type="text" th:field="*{nombreTema}" />
            </div>
            <div>
                <label>Descripción:</label>
                <textarea th:field="*{descripcionTema}" rows="3"></textarea>
            </div>
            <div>
                <label>Recursos:</label>
                <input type="text" th:field="*{recursos}" />
            </div>
            <div>
                <label>Nivel de Dificultad:</label>
                <input type="text" th:field="*{nivelDificultadTema}" />
            </div>
            <div>
                <label>Asignatura (ID):</label>
                <input type="text" th:field="*{asignatura.idAsignatura}" />
            </div>
            <div>
                <button type="submit">Actualizar</button>
            </div>
        </form>
        <br>
        <a href="/vistas/temas">
            <button>Volver a la Lista</button>
        </a>
    </section>
</body>
</html>

