<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Examen Escrito</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header class="mb-3">
        <h1 class="text-center">Editar Examen Escrito</h1>
    </header>
    <section class="container">
        <form th:action="@{/vistas/examenes-escritos/editar/{id}(id=${examenEscrito.idExamen})}" th:object="${examenEscrito}" method="post">
            <div class="mb-3">
                <label for="idExamen" class="form-label">ID Examen</label>
                <input type="text" id="idExamen" th:field="*{idExamen}" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label for="numeroPreguntas" class="form-label">Número de Preguntas</label>
                <input type="number"
